@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
